/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './lib/icon.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body, html {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  -webkit-print-color-ajust: exact;
}

.title{
	padding: 5px 10px;
	text-transform: uppercase;
  	background: #ddd;
}

.basic_icon{
	margin: auto 10px;
}

.header1{
	background-color: #bfebed;
}

.app1{
    background-color: #001721;
    color: #fff;
}

.app2{
    background-color: #e23237;
    color: #fff;
}

.mhover:hover{
    background: rgba(241, 44, 44, 0.8);
    width: 100%;
    height: 100%;
}
/* global menu module */

.gcel {
    background-color: #eee;
    text-transform: uppercase;
    cursor: pointer; 
    height: 100%;
    width: 100%;     
  }

  .gcel:hover{
      background: rgba(200, 200, 200, 0.8);
  }

  .btn1{
    background: #263238;
    color: #fff !important;
    padding: auto 2px;
    font-size: 12px;
  }

  .btn2{
    background: #5682bb;
    color: #fff !important;
    padding: auto 2px;
    font-size: 12px;
  }

  .btn3{
    background: #888;
    color: #fff !important;
    padding: auto 2px;
    font-size: 12px;
  }

button{
  cursor: pointer;
}

.hcl{
   padding: 140px auto;
   text-align: center;
}

button.active{
  box-shadow: none;
}
 
.itm{
  text-align: center;
}

.h8{
  padding-top: 3px;
  font-size: 10px;
}

  
.header-info{
  padding: 5px 40px;
  background: #263238;
  margin: 10px 10px 0;
  color: #fff;
  width: 100%;
  text-align: center;
}

.gry{
  color: #999;
}

textarea{
  border: solid 1px #999!important;
  min-height: 60px;
  padding-left: 4px;
}

