<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Code</ng-template>
      <mat-form-field>
        <input matInput placeholder="Code Employe" formControlName="stdCode" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext (click)="setStd()" [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Nom, Prenom" formControlName="stdName" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="resetForms()">Back</button>
        <button mat-button matStepperNext color="warn" (click)="deleteEmp()" [disabled]="!this.secondFormGroup.valid">Supprimer
          ?</button>
        <span style="color: #f00;" *ngIf="!this.secondFormGroup.valid">EMPLOYEE NON TROUVE</span>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ok</ng-template>
    {{result}}
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>