<mat-sidenav-container class="m-std">
    <mat-sidenav #sidenav #start mode="side" opened="true" class="std-sidenav">

        <div class="wrap">
            <div class="">
                <!-- header -->

                <div style="height: 1px"></div>
                <mat-grid-list cols="1" rowHeight="75px">

                    <mat-grid-tile [colspan]="1" class="tit m-grid gcel"> AFFAIRES </mat-grid-tile>

                    <!-- home -->
                    <mat-grid-tile [colspan]="1" class="m-grid gcel" height="30" [routerLink]="['/home', {outlets: {'home': ['aff_home']}}]">
                        <div class="itm">
                            <br />
                            <img src="assets/img/icon/home.png" width="30">
                            <p class="h8">Acceuil</p>
                        </div>
                    </mat-grid-tile>

                    <!-- mgr -->
                    <mat-grid-tile [colspan]="1" class="curs m-grid" [routerLink]="['/home', {outlets: {'home': ['aff_mgr']}}]">
                        <div class="itm">
                            <br />
                            <img src="assets/img/icon/emp.png" width="30" height="30">
                            <p class="h8">Affaires</p>
                        </div>
                    </mat-grid-tile>


                    <!-- audience -->
                    <mat-grid-tile [colspan]="1" class="curs m-grid" [routerLink]="['/home', {outlets: {'home': ['aff_aud']}}]">
                        <div class="itm">
                            <br />
                            <img src="assets/img/icon/audience.png" width="30" height="30">
                            <p class="h8">Audiences</p>
                        </div>
                    </mat-grid-tile>

                    <!-- dossier -->
                    <mat-grid-tile [colspan]="1" class="curs m-grid" [routerLink]="['/home', {outlets: {'home': ['aff_folder']}}]">
                        <div class="itm">
                            <br />
                            <img src="assets/img/icon/aff.png" width="30" height="30">
                            <p class="h8">Pièces</p>
                        </div>
                    </mat-grid-tile>

                    <!-- pay -->
                    <mat-grid-tile [colspan]="1" class="curs m-grid current-std" [routerLink]="['/home', {outlets: {'home': ['aff_pay']}}]">
                        <div class="itm">
                            <br />
                            <img src="assets/img/icon/pay.png" width="30" height="30">
                            <p class="h8">Gest. Paie</p>
                        </div>
                    </mat-grid-tile>

                    <!--user report-->
                    <mat-grid-tile [colspan]="1" class="curs m-grid" [routerLink]="['/home', {outlets: {'home': ['aff_report']}}]">
                        <div class="itm">
                            <br />
                            <img src="assets/img/icon/report.png" width="30" height="30">
                            <p class="h8">Rapport</p>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>

                    </mat-grid-tile>
                </mat-grid-list>
            </div>

        </div>

    </mat-sidenav>

    <mat-sidenav-content class="std-contain">
        <router-outlet name="home"></router-outlet>
        <div class="wlc">
            Affaire Payment
            <hr>
        </div>

        <div style="margin-left: 30px; margin-right: 20px;">
            <mat-grid-list cols="5" rowHeight="400px">
                <mat-grid-tile>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>