

.card1{
    min-height: 200px;
    width: 100%;
    color: #263238;
    margin: auto 20px;
}

.card2{
    min-height: 200px;
    width: 100%;
    color: #263238;
    margin: auto 20px;
}

.item{
    text-align: center;
}

.card3{
    min-height: 200px;
    width: 100%;
    color: #263238;
    margin: auto 20px;
}

.anc{
    margin-left: 30px;
    padding: 5px 10px;
    width: 200px;
}
